<main>
<div class="row">
                    <div class="jumbotron">
                        <img class="detailPic" src="{{celebs.picture}}">
                        <h1>Details for {{celebs.name}}</h1>
                        <p>Born in {{celebs.home}} in {{celebs.birthYear}}</p>
                        <p>Current Net Worth is ${{celebs.netWorth}} Million</p>
                    </div>
                </div>
    <div class="row">
        <a href="#/" class="btn btn-primary btn-lg">Back to List</a>
    </div>
    </main>
